<div class="row g-4 mb-5">

    <!-- Total Pets -->

    <div class="col-lg-3 col-md-6">

        <div class="card dashboard-card dashboard-blue">

            <div class="dashboard-icon">

                🐾

            </div>

            <h2>{{ total_pets }}</h2>

            <h5>Total Pets</h5>

            <p>

                Manage all your furry family members.

            </p>

        </div>

    </div>

    <!-- Vaccinations -->

    <div class="col-lg-3 col-md-6">

        <div class="card dashboard-card dashboard-green">

            <div class="dashboard-icon">

                💉

            </div>

            <h2>{{ total_vaccinations }}</h2>

            <h5>Vaccinations</h5>

            <p>

                Health records safely stored.

            </p>

        </div>

    </div>

    <!-- Due Soon -->

    <div class="col-lg-3 col-md-6">

        <div class="card dashboard-card dashboard-orange">

            <div class="dashboard-icon">

                📅

            </div>

            <h2>{{ due_soon }}</h2>

            <h5>Upcoming</h5>

            <p>

                Vaccinations due soon.

            </p>

        </div>

    </div>

    <!-- Health -->

    <div class="col-lg-3 col-md-6">

        <div class="card dashboard-card dashboard-pink">

            <div class="dashboard-icon">

                ❤️

            </div>

            <h2>Excellent</h2>

            <h5>Health Status</h5>

            <p>

                Keep every pet healthy and happy.

            </p>

        </div>

    </div>

</div>

<div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">

    <div>

        <h2 class="fw-bold mb-1">

            🐶 My Pets

        </h2>

        <p class="text-muted mb-0">

            Every Paw Has A Story ❤️

        </p>

    </div>

    <a href="{{ url_for('add_pet') }}" class="btn btn-primary">

        <i class="bi bi-plus-circle-fill"></i>

        Add New Pet

    </a>

</div>