<!-- ==========================================================
     PAWFOLIO MASCOTS
========================================================== -->

<section class="mascot-scene">

    <!-- ==============================================
         LUFFY
    =============================================== -->

    <div class="speech-bubble speech-left">

        <div class="speech-avatar">

            🐶

        </div>

        <div class="speech-content">

            <span>

                Luffy

            </span>

            <p>

                Hi, I'm Luffy! 👋

            </p>

        </div>

    </div>


    <!-- ==============================================
         MASCOTS
    =============================================== -->

    <div class="mascot-image-wrapper">

        <img src="{{ url_for('static', filename='images/mascots/scenes/welcome.webp') }}" alt="Luffy and Laila"
            class="welcome-mascot">

    </div>


    <!-- ==============================================
         LAILA
    =============================================== -->

    <div class="speech-bubble speech-right">

        <div class="speech-avatar">

            🐶

        </div>

        <div class="speech-content">

            <span>

                Laila

            </span>

            <p>

                Hi, I'm Laila! ❤️

            </p>

        </div>

    </div>

</section>