# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Database
instance/
*.db

# Environment Variables
.env

# Uploaded pet images
app/static/uploads/

# VS Code
.vscode/

# macOS
.DS_Store