Flask==3.1.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2

SQLAlchemy==2.0.51
alembic==1.18.5
psycopg2-binary==2.9.10

gunicorn==23.0.0

python-dotenv==1.1.1

Authlib==1.7.2
email_validator==2.2.0

APScheduler==3.11.3

boto3==1.35.49

requests==2.34.2

Jinja2==3.1.6
Werkzeug==3.1.8
WTForms==3.2.1
blinker==1.9.0
itsdangerous==2.2.0