@import url("login.css");

.single-card {
    justify-content: center;
}

.full-width {
    width: 100%;
    display: flex;
    justify-content: center;
}

.full-width .login-card {
    max-width: 560px;
}