<!DOCTYPE html>
<html>

<head>
    <title>Pawfolio</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <h1>🐾 Pawfolio</h1>
    </nav>

    <div class="container">
        <div class="container">

    <h2>Welcome, Pet Parents!</h2>

    <p>
        A thoughtful place to keep your pets' memories,
        health records, vaccinations and milestones.
    </p>

    <a href="/add-pet">
        <button>Add Pet</button>
    </a>
    <div class="pet-card">

        <h3>🐶 Luffy ♂️</h3>

        <p><strong>Breed:</strong> Bhotia</p>

        <p><strong>Age:</strong> 5 Months</p>

        <p><strong>Weight:</strong> 11 kg</p>

        <p><strong>Vaccination:</strong> Up To Date</p>

        <div class="pet-card">

    <h3>🐶 Laila ♀️</h3>

    <p><strong>Breed:</strong> Bhotia</p>

    <p><strong>Age:</strong> 5 Months</p>

    <p><strong>Weight:</strong> 11 kg</p>

    <p><strong>Vaccination:</strong> Up To Date</p>

</div>

</body>
</html>