<!DOCTYPE html>
<html>
<head>
    <title>Add Pet - Pawfolio</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Add a New Pet</h1>

        {% if error %}
        <div style="background:#fdecea;
                    color:#b71c1c;
                    border:1px solid #f5c6cb;
                    padding:12px;
                    border-radius:8px;
                    margin-bottom:20px;
                    font-weight:bold;">
            {{ error }}
        </div>
        {% endif %}

       <form method="POST" enctype="multipart/form-data">

            <label>Pet Name:</label><br>
            <input type="text"
                   name="pet_name"
                   placeholder="Example: Luffy"
                   required><br><br>

            <label>Breed:</label><br>
            <input type="text"
                   name="pet_breed"
                   placeholder="Example: Bhotia"
                   required><br><br>

            <label>Gender:</label><br>
            <select name="pet_gender" required>
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select><br><br>

            <label>Age:</label><br>
            <input type="text"
                   name="pet_age"
                   placeholder="Example: 5.5 Months"
                   required><br><br>

            <label>Weight (kg):</label><br>
            <input type="number"
                   step="0.1"
                   min="0"
                   name="pet_weight"
                   placeholder="Example: 17.9"><br><br>

            <label>Vaccination Status:</label><br>
            <input type="text"
                   name="pet_vaccination_status"
                   placeholder="Example: Vaccinated"
                   required><br><br>

                   <label>Pet Photo:</label><br>

                <input
                type="file"
                name="pet_photo"
                accept=".jpg,.jpeg,.png"
                >


            <br><br>


            <button type="submit">Save Pet</button>

            <a href="{{ url_for('home') }}">
                <button type="button">Cancel</button>
            </a>

        </form>

    </div>

</body>
</html>
